<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
    <title>Error Page</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:replace="fragments/alert :: alert_headline"></div>

    <div class="alert alert-danger">
        <strong>Oops ... something went wrong!</strong>
    </div>

    <table class="table table-striped">
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"/>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"/>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"/>
        </tr>
    </table>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show / Hide Stacktrace</button>
    <div id="demo" class="collapse">
        <pre th:text="${trace}"/>
    </div>
</div>
</body>
</html>